# === UNITY PAR DÉFAUT ===

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/fmod_editor/

# Captures mémoire et enregistrements (souvent volumineux ou sensibles)
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Plugins éditeur spécifiques
/Assets/Plugins/Editor/JetBrains*

# Visual Studio / Rider / Monodevelop
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Fichiers .meta générés associés
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Infos système des crash reports
sysinfo.txt

# Builds finaux
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Addressables packagés
/Assets/AddressableAssetsData/*/*.bin*

# Assets Android temporaires générés
/Assets/StreamingAssets/aa.meta
/Assets/StreamingAssets/aa/*

# === FMOD ===

# Garder les DLL nécessaires au runtime
!/Assets/Plugins/FMOD/**/lib/*

# Garder les images et icônes utilisées dans l'éditeur
!/Assets/Gizmos/FMOD/*
!/Assets/Editor Default Resources/F
